.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

@media (min-width:34em) {
    .card-deck>.card {
        width: 29%;
        flex-wrap: wrap;
        flex: initial;
    }
}

summary::-webkit-details-marker{
    display: none;
}