.footer-distributed {
    background-color: rgb(181, 223, 236);
    box-shadow:  0 1px 1px 0 rgba(0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;

    padding: 25px 15px;
    margin-top: 100px;
}

.footer-center,
.footer-right{
    margin-left: 70px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}